body {
    background: white;
}

.main-content {
    background: #e8eaed;
    min-height: 100vh;
}

.nav-link {
    color: #000000;
    opacity: 0.7;
    padding: 1em 0em;
}

.nav-link:hover {
    opacity: 1;
    color: #000;
}

.nav-link.active {
    opacity: 1;
    color: #000000;
    font-weight: bold;
}
